{% extends "jobs.html" %}
{% block title %}Job 1 {% endblock %}
{% block jobTitle %}
<br />
Software Engineer Intern
{% endblock %}

    
{% block company %}
SHOPEE
{% endblock %}

{% block jobDescription %}
The Engineering and Technology team is at the core of the Shopee platform development. The team is made up of a group of passionate engineers from all over the world, striving to build the best systems with the most suitable technologies. Our engineers do not merely solve problems at hand; We build foundations for a long-lasting future. We don't limit ourselves on what we can or can't do; we take matters into our own hands even if it means drilling down to the bottom layer of the computing platform. Shopee's hyper-growing business scale has transformed most "innocent" problems into huge technical challenges, and there is no better place to experience it first-hand if you love technologies as much as we do. Browse our Engineering and Technology team openings to see how you can make an impact with us.
{% endblock %}


{% block responsibilities %}
- Gain first-hand experience working on Shopee’s leading platform to enhance the user experience
<br>
- Have the opportunity to work alongside top engineers to gain invaluable insights on how to build a scalable and high performance software platform
<br>
- A highly rewarding role as your contributions will directly impact the lives of millions of people in the region
<br>
- Gain insights into the Southeast Asian market and the internet industry
<br>
- Enhance coding skills and get exposed to new tools and programming languages
<br>
- Hands-on experience to apply computer science studies in a professional environment
<br>
- Improve presentation and communication (both oral and written) skills
<br>
- Interns with outstanding performance will be invited for a full-time position at Shopee
{% endblock %}


{% block qualifications %}
- Students who are currently pursuing a Bachelor’s degree in Computer Science or a related technical field
<br>
- Students in their second, third or final year of studies
<br>
- Please state your availability clearly in the comments section (Start date, End date, part-time min 3 days/week, or full-time)
<br>
- Please also state the openings (Backend, Web Frontend etc) that you would like to be considered for in the comments section
<br>
- Able to commit for at least 12 weeks (can start all year round)
<br>
- Please note that a copy of the most recent transcript must be submitted as part of the application
{% endblock %}


{% block other %}
N/A
{% endblock %}