{% extends "jobs.html" %}
{% block title %}Job 2 {% endblock %}
{% block jobTitle %}
<br />
Software Engineer
{% endblock %}

    
{% block company %}
CAPPS SOLUTIONS PTE. LTD.
{% endblock %}

{% block jobDescription %}
Many software engineers were nurtured and trained by us to become full-stack all-rounders.
If having many oppportunities to do, learn and be exposed to a wide variety of technical and business domains in a short period of time clicks with you, we'd like to have a chat with you!
Let's see if you have what it takes!
{% endblock %}


{% block responsibilities %}
• Get to be updated with latest web and mobile technologies to use in solutions for clients.
<br>
• Liaise with clients for their solution requirements.
<br>
• Design and develop web and/or mobile application solutions for clients.
<br>
• Produce application solution documentation.
<br>
• Provide training to clients prior to solution rollouts.
<br>
• Assist in application support queries from clients.
{% endblock %}


{% block qualifications %}
• A strong passion for IT.
<br>
• Good foundation and experience in coding.
<br>
• Able to multi-task.
<br>
• Able to understand business solutions, articulate and present solutions well.
<br>
• Have strong sense of ownership and proactiveness.
<br>
• Team player.
<br>
• Good knowledge and experience in the some of the following coding frameworks, languages and databases: JEE 7, J2EE, Spring Boot, C#, PHP Yii/Laravel, JQuery, Angular/Node JS, Flutter, Android, iOS, MySQL, MSSQL, Linux and Windows Server.
<br>
• Diploma/Degree in IT or equivalent.
<br>
• Internship/Traineeship positions can be made available for this position
{% endblock %}


{% block other %}
Salary: $3.8k to $7k /month
{% endblock %}