{% extends "jobs.html" %}
{% block title %}Job 3 {% endblock %}
{% block jobTitle %}
<br />
Embedded Software Engineer
{% endblock %}

    
{% block company %}
ANOTECH ENERGY SINGAPORE PTE. LTD.
{% endblock %}

{% block jobDescription %}
As an Embedded Software Engineer, you will be part of an expanding team in developing secure embedded products for the automotive industry that strives to connect and manage smart vehicles and their lifecycles, as well to secure and analyze data.
{% endblock %}


{% block responsibilities %}
Work in a scrum team with other agile developers in Singapore and different countries
<br>
Validation of the software components in a logical and controlled manner to evaluate the design, behavior, interactions and performance, and to confirm that the requirements against which the software components have been designed are fulfilled,
<br>
Participates in the configuration item integration and verification phases
<br>
Contribute to the production of the software data package for release to solution
<br>
Configuration Management of the Software Components
<br>
Contribute to Change Management of the Software Solution
<br>
Contribute to preparation of documents for product certification purposes.
<br>
Expert peers will help devote time to support your development
{% endblock %}


{% block qualifications %}
Proficiency in Automated Development & Verification environment & tool sets, configuration management
<br>
Experience in C/Java/VB.net programming languages
<br>
Team player with good communications and collaborative skills
<br>
You are responsible and show good initiative
<br>
You are analytical, resourceful and structured
<br>
You have experience in Product Lifecycle (design and documentation, development, validation refactoring, deployment and maintenance)
<br>
It will be considered a plus if you possess the following knowledge
    <br>
    - Software security
    <br>
    - Javacard
    <br>
    - FMEA (Failure Mode Analysis)
    <br>
    - Testing methodologies
    <br>
    - Static Code Analysis tools
<br>
Degree in Electrical/Electronics/Computer/Software Engineering, or related fields
<br>
2 years of practical validation experience with embedded design projects
{% endblock %}


{% block other %}
Salary: $3.8k to $7k /month
{% endblock %}