{% extends "jobs.html" %}
{% block title %}Job 4 {% endblock %}
{% block jobTitle %}
<br />
Software Engineer Trainer - Part-time
{% endblock %}

    
{% block company %}
Institute of Data
{% endblock %}

{% block jobDescription %}
The Institute of Data is a Professional Network of Data Scientists, Cyber Security Analysts and Digital Marketers. In partnership with leading universities UTS and RMIT, the government of Singapore and hundreds of employers, we transform careers for a data-driven world.
The Institute of Data operates in the information technology sector. Demand for our training products is driven by the information capability recruitment needs of business. These capabilities, in the areas of security, compliance, operational efficiency, growth and decision making are more important to business now than ever before.
Our courses are unlike those offered at traditional education providers. With remote and in-person, you can up-skill from anywhere. Beyond learning knowledge, process and theory, you will experience the real power of practical training by industry experts – allowing you to confidently practice and work in the industry.
{% endblock %}


{% block responsibilities %}
We are looking for a talented, motivated individual to lead the delivery of a 24-week part-time course staring in April/May 2022 introducing students to Software Engineering for Web development. The course will include front-end development approaches (HTML, CSS, JavaScript), frameworks used to design and create interactive websites, RESTful API design, database design and the basics of full-stack development and deployment. Assessment in the form of labs and project work will also be developed. Students graduating from the course should then be well equipped to take on junior software professional roles effective in web development and related functions.
{% endblock %}


{% block qualifications %}
• Bachelor's Degree in Computer Science, Software Engineering or related discipline
<br>
• Minimum of 3 years commercial experience as a software developer, preferably with exposure to full-stack development for web and mobile
<br>
• Subject matter expertise in JavaScript and related libraries for web development such as React, Bootstrap, Vue, Node, Express
<br>
• Experience in Database design including extensive knowledge of SQL and Postgres
<br>
• Excellent written & verbal communication skills including the ability to express technical material in an accessible way
{% endblock %}


{% block other %}
N/A
{% endblock %}